.container {
  padding: 30px;
}


.data-box {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 5px;
  height: 200px;
}

h4 {
  margin-top: 5px;
}
