.container {
  padding: 30px;
}
.content-container {
  margin-left: 33%;
  padding-right: 40px;
}

.user-picture {
  position: fixed;
  height: 100vh;
}

.data-box {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 5px;
  height: 200px;
}

.graph-box {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  height: 400px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.projects-container h1 {
  margin-bottom: 35px;
  margin-top: 105px;
  margin-bottom: -50px;
  font-family:$my-font;
  color: black;
}

.data-box h2{
  margin-top: 150px;
  margin-bottom: -50px;
  font-family:$my-font;
  font-size: 64px;
  font-weight: bold;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

h4 {
  margin-top: 60px;
  margin-bottom: -40px;
  font-family:$my-font;
  font-size: 24px;
  font-weight: bold;
}
