<div>
  <%= form_for FollowerProject.new do |f| %>
      <%= f.hidden_field :project_id, value: project.id %>

            <button type="submit">
              <%= image_tag "https://res.cloudinary.com/dnizmljvi/image/upload/v1580896272/logo_yaqgpl.png", width: "15px" %>
            </button>

  <% end %>

</div>
