<div class="home-picture">
  <div class="title-home">
      <div> <img src="https://res.cloudinary.com/dnizmljvi/image/upload/v1582054588/plenty_ris3ks.png" width=25%> </div>
      <div class="soustitre">Support meaningful projects</div>
      <div> <%= link_to "Support a project", projects_path, class: "btn"%> </div>
      <div> <%= link_to "Plant a seed", new_project_path, class: "btn"%> </div>
  </div>
</div>

<div class="home-text" style="padding-top:50px;" id="about" name="about">
  <h1>- about plenty</h1>
  <p>Plenty is a donation app that connects qualified nonprofits with donors who share their passion for a common cause and meaningful projects. Nonprofits can now engage with donors through a simple, convenient app, while users can make incremental, recurring and seamless donations.

We are a social impact enterprise that believes in the words of Howard Zinn: “Small acts when multiplied by millions of people can change the world.” We’ve applied this powerful and proven concept to creating our unique platform. Plenty donors personalize their giving, through everyday transactions, at a level that is right for them. Then can also be informed about the project's last updates and read articles that explains how are the donations used.

Our goal is to create a platform that allows nonprofits to spend less time raising money and more time executing their missions. By empowering both nonprofits and donors with a simple tool, we hope to bring about ongoing, sustainable, and life changing impact at local, regional, and global levels.</div>
