<div class="banner">
  <div class="container h1">
    <h1>PLENTY</h1>
      <p>Support meaningful projects</p>
       <div class="cntnr">

        </div>
      </div>
        <div class="center">
              <span>
              <%= link_to "Create A Project", new_project_path, class: "btn" %>
              </span>
          </div>
    </div>
