<div class="background-home">
  <div class="title-home">
    <h1> plenty</h1>
      <p>Support meaningful projects</p>
  </div>
  <div>
    <span>
      <%= link_to "Create A Project", new_project_path, class: "btn" %>
    </span>
  </div>
