<div class="filter-navbar" style="padding-left: 90px;">
  <% Category.all.each do |category|  %>
    <%=  link_to category.name, projects_path(categories: [category.name]) %>
  <% end %>
  <%= link_to "Popular Projects", projects_path(filter: 'popularity') %>
</div>

<div class="row row-no-padding">
  <% policy_scope(@projects).each do |project| %>
  <div class="col-sm-4">
      <div class="card card-plus" style="justify-content: center">
        <div class="square-box">
            <%= render 'card', project: project %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  var computeSquareHeight = function() {
    var squares = document.getElementsByClassName("square-cover");
    var computedWidth = squares[0].offsetWidth;
    for (var item of squares) {
        item.style.height = computedWidth+"px";
    }
  }
  window.addEventListener("resize", computeSquareHeight);
  computeSquareHeight();
</script>
