<div class="background-projects" style="background-size: cover; background-image: url('<%= "https://res.cloudinary.com/dnizmljvi/image/upload/v1582210240/jeremy-bishop-vGjGvtSfys4-unsplash_lqflok.jpg" %>');">
  <div> <%= "Let's create a new project !" %> </div>
<div>

<div class="new-project-form">
  <%= render 'form', project: @project %>
</div>
