<div class="background-projects" style="background-size: 120%; background-repeat: no-repeat; background-image: url('<%= "https://res.cloudinary.com/dnizmljvi/image/upload/v1582284903/wolfgang-hasselmann-xRsOq7BKeVw-unsplash-3_z9331r.jpg" %>');">
  <div> <%= "Let's create a new project !" %> </div>
<div>

<div class="new-project-form" style="padding-top: 50px;">
  <%= render 'form', project: @project %>
</div>
