.article-card {
  font-size: 15px;
  text-align: left;
  border: 1px;
}

.article-card h1 {
  font-size: 15px;
  font-style: bold;
  text-align: right;
}

.article-card p {
  font-size: 12px;
  text-align: left;
}


.article-card img {
  image-size: 100px 100px;
}
