.background-articles {
  float: center;
  height:250px;
  width: 800px;
  background-position: center;
}

.article-container h1 {
  color: white;
  font-size: 32px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
  padding-left: 200px;
  padding-right: 56px;
}

.shareable {
  color: white;
  vertical-align: middle;
  text-align:center;
  float:right;
}

.article-actions {
  color: none;
  float:right;
}

.article-long-description p {
  justify-content: center;
  font-family: "Avenir";
  font-weight: normal;
  padding-top: 56px;
  padding-left: 150px;
  padding-right: 100px;
  font-size: 16px;
  color: #f6f6f6;
}

.article-title {
  float: top;
  height:250px;
  width: 550px;
  border-radius:15px;
  font-family:$my-font;
  color:gray;
}

.article-title h1 {
  float: top;
  height:250px;
  width: 550px;
  border-radius:15px;
  font-family:$my-font;
  color:gray;
}


.article-title p {
  font-size: 10px;
  font-family:"Avenir";
  color:gray;
  height:250px;
  width: 550px;
}


.article-title h2 {
  font-size: 10px;
  font-family:"Avenir";
  color:#f6f6f6;
  height:250px;
  width: 550px;
}

