.article-card {
  font-size: 15px;
  border: 1px;
  border-radius: 5px;
  margin-bottom: 15px;
  height: 230px;
}

.article-card h1 {
  font-size: 28px;
  font-style: bold;
  text-align: center;
  color: white;
}

.article-card img {
  image-size: 100px 100px;
}
