.article-card {
  font-size: 12px;
  border-radius: 50%;
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article-card h1 {
  font-size: 14px;
  font-style: bold;
  text-align: center;
  vertical-align: middle;
  font-family: "Avenir";
  color: white;
}

.article-card img {
  image-size: 150px 150px;
  border-radius: 50%;
}
