.button {
  background-color: black;
}

.button-grey {
  background-color: black;
  color: #f6f6f6;
  border: 2px solid #e7e7e7; /* grey */
  border-radius: 15px;
} /* Gray */

.button-grey:hover {
  background-color: #e7e7e7; /* Green */
  color: black;
}
