.button {
  background-color: white;
}

.button-grey {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7; /* grey */
  padding: 8px 16px;
  border-radius: 4px;
} /* Gray */

.button-grey:hover {
  background-color: #e7e7e7; /* Green */
  color: black;
}
