// .container {
//   margin-top: 20px;
//   background-size: cover;
//   background-position: center;
// }

// .card-category {
//   height: 200px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

// h2 {
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
// }

// h3 {
//   color: white;
//   font-size: 18px;
// }
/*

.square-box{
    position: relative;
    width: 640px;
    length: 640px;
    overflow: hidden;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
}
*/

.row-no-padding .col-sm-4 {
  position: relative;
  padding: 0;
  color: white;
  vertical-align: middle;
  text-align: center;
  /*z-index:1;*/
}
.card-plus {
    color: red;
    vertical-align: middle;
 }
  .card-text {
    display: none;
    color: white;
  }

.square-description, .square-actions {
  display: none;
  position: relative;
}

.square-cover-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.square-cover:hover  {
  a:hover {
    text-decoration: none;
    color: white;
  }
  padding: 0;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  .card-text {
    display: block;
    font-family:$my-font;
    margin-top: 35%;
    text-align: middle;
    color: white;
  }
  .square-description, .square-actions {
    display: inherit;
    text-align: middle;
    font-family: "Avenir";
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
  }
  .square-cover-background {
    opacity: 10%;
    filter: grayscale(500);
  }
}
