.square-cover {
  justify-content: center;
  height: 250px;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.square-cover:hover  {
  padding: 0;
  opacity: 10%;
  filter: grayscale(500);
  text-color: white;
  height: 100%;
  .card-text {
    display: block;
    font-family:$my-font;
    font-size:45px;
    margin-top: 35%;
    text-align: middle;
    text-color: white;
  }
}
