.square-cover-m {
  margin-bottom: 15px;
  height: 350px;
  border-radius: 5px;
  color:none;
}

.square-cover:hover  {
  padding: 0;
  opacity: 0.9;
  filter: grayscale(60%);
  text-color: black;
  height: 100%;
  color:none;
  .card-text {
    display: block;
    font-family:$my-font;
    font-size:45px;
    margin-top: 35%;
    text-align: middle;
    text-color: white;
  }
}
