.circle {
  background-image:url(https://res.cloudinary.com/dnizmljvi/image/upload/v1582748673/photo-1527380992061-b126c88cbb41_jpbpbt.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

