.container {
            height:auto;
            min-width:96vw;
            background-color: none !important;
            align-items: center;
            text-align: center;
            vertical-align: middle;
        }
        #st-box {
            float:left;
            width:29vw;
            height:500px;
            border-radius: 25px;
            background-color:#f6f6f6;
            margin:20px;
            vertical-align: middle;
            display: inline-block
        }
        #nd-box {
            float:left;
            width:29vw;
            height:500px;
            background-color:#f6f6f6;
            border-radius: 25px;
            margin-top:20px;
            vertical-align: middle;
            display: inline-block
        }
        #rd-box {
            float:left;
            width:29vw;
            height:500px;
            border-radius: 25px;
            background-color:#f6f6f6;
            margin:20px;
            vertical-align: middle;
            display: inline-block
        }
        h1 {
            color:Green;
        }

.background-square {
  width:100vw;
  padding-left: 70px;
  background: none !important;
  background-color: none !important;
}
