.create-article-1 {
  border:1px;
  border-color: white;
  position: absolute;
  bottom: 5vh;
  left: 93vw;
  size: 40px 40px;
}

.create-article-2 {
  border:1px;
  border-color: white;
  position: absolute;
  bottom: 5vh;
  left:88vw;
}

.create-article-3 {
  border:1px;
  border-color: white;
  position: absolute;
  bottom: 5vh;
  left:83vw;
}

.create-article-3 img {
  width:58px;
  height:58px;
}

.create-article-1 :hover{
  color:black;
  opacity:0.7;
  border:1px;
  border-color: white;
}

.create-article-2 :hover{
  color:black;
  opacity:0.7;
  border:1px;
  border-color: white;
}

.create-article-3 :hover{
  color:black;
  opacity:0.7;
  border:1px;
  border-color: white;
}

.write-article-box {
  border: 1px solid white;
  border-radius: 15px;
    padding-left:80px;
  padding-right:80px;
  padding-top:60px;
  padding-bottom:140px;
}
.write-article-box p {
  font-family: "Avenir";
  color: #grey;
  border: 1px solid #gray;
  margin:50px;
  border-radius: 15px;
  padding-left:50px;
  padding-right:50px;
  padding-top:50px;
  padding-bottom:50px;
}
