.create-article {
  height: 80px;
  width: 80px;
  font-size: 50px;
  border-radius: 50px;
  background-color: white;
  text-color: white;
  opacity: 0.5;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin-top: 50px;
  margin-left: 800px;
}
