.donation-section {
  padding-top: 60px;
  border-radius: 15px;
  width: 165px;
  opacity:0.6;
  color: transparent;
  text-align: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  vertical-align: middle;
}


.container-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 500px;
}


.checkout-content {
  color: white;
}

.donation-checkout h1 p {
  color: white;
}

.checkout-image {
  padding-left: 50px;
}
