.donation-section {
  padding-top: 60px;
  border-radius: 15px;
  width: 165px;
  opacity:0.6;
  color: transparent;
  text-align: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  vertical-align: middle;
}


.container-checkout {
  display: flex;
  background-color: black;
  margin: 120px;
  justify-content: center;
  margin-top: 200px;
}

.container-checkout-in {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 500px;
  vertical-align: center;
}


.container-checkout-in-content {
  margin: 80px 120px;
}

.checkout-content {
  color: white;
}

.donation-checkout h1 p {
  color: white;
}

.checkout-image {
  padding-left: 50px;
}

<<<<<<< HEAD
.donation_sum_progress {
  font-family: "Avenir";
  font-size: 24px;
  color: black;
  position: absolute;
  bottom: 5vh;
  left:7vw;
  border:1px;
  background: #f6f6f6;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}


// .meter {
//   height: 20px;  /* Can be anything */
//   position: relative;
//   background: #555;
//   -moz-border-radius: 25px;
//   -webkit-border-radius: 25px;
//   border-radius: 25px;
//   padding: 10px;
//   box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
// }


=======
.col-md-3 img {
  border-radius: 50px;
}
>>>>>>> master
