.filter-navbar {
  overflow: visible;
  height: 70px;
  width: auto;
  opacity: 0.748;
  background: #f6f6f6;
  color: black;
  font-size: 16px;
  font-color: white;
  padding-top: 23px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 35px;
  vertical-align: middle;
  text-align: right;
  z-index:0;
}

.search-bar {
  justify-content: space-between;
}

.btn-danger {
  background: #1EDD88;
}
