.filter-navbar {
  overflow: visible;
  height: 70px;
  width: 100%;
  background: #f6f6f6;
  color: #f6f6f6;
  font-size: 16px;
  color: white;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 5px;
  vertical-align: middle;
  text-align: right;
  text-decoration: none;
  vertical-align:middle;
  position: fixed;
  top: 0px;
  z-index:1;
}

.search-bar {
  justify-content: space-between;
  margin-left:-40px;
}

.btn-danger {
  background: #1EDD88;
}

.col-sm-4-navbar a{
  padding-right: 70px;
  text-align: right;
  position: right;
  margin-right: 3px;
}
