.home-picture {
  background-image: url("https://res.cloudinary.com/dnizmljvi/image/upload/v1582049142/homebackground_wuzttp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-create {
  background-image: url("https://res.cloudinary.com/dnizmljvi/image/upload/v1582829715/sheet_khlbkb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-page-picture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:65px;
  color:white;
}

.project-page-picture-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 60vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:65px;
  color:white;
  position: absolute;
}

.create-picture {
  background-image: url("https://res.cloudinary.com/dnizmljvi/image/upload/v1582285102/wolfgang-hasselmann-eqSsHfGMTQU-unsplash-3_cp2naq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-picture {
  background-image: url("https://res.cloudinary.com/dnizmljvi/image/upload/v1582286365/michael-dam-mEZ3PoFGs_k-unsplash_kc1kqv.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  font-size: 10px;
  height: 1080px;
  width: 30vw;
  padding-left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
