.home-picture {
  background-image: url("https://res.cloudinary.com/dnizmljvi/image/upload/v1582049142/homebackground_wuzttp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.create-picture {
  background-image: url("https://res.cloudinary.com/dnizmljvi/image/upload/v1582285102/wolfgang-hasselmann-eqSsHfGMTQU-unsplash-3_cp2naq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
