.long-description {
  text-align: left;
  font-size: 15px;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 200px;
  padding-right: 200px;
}

.long-description h1 {
  text-align: right;
  font-size: 25px;
  font-style: bold;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
}

.long-description p {
  text-align: left;
  font-size: 15px;
  padding-bottom: 50px;
  color: black;
}
