.navbar-lewagon {
  grid-column: 1;
  overflow: visible;
  width: 70px;
  height: 100vh;
  color: #f6f6f6;
  opacity: 1;
  background: #f6f6f6;
  z-index:999;
  font-size:16px;
  color:#f6f6f6;
  padding-left: 15px;
  padding-top: 15px;
  text-transform:uppercase;
  position: fixed;
  top: 0px;
}

.navbar-lewagon img {
  width: 40px;
  left: 15px;
  right: 15px;
  top: 30px;
  bottom: 15px;
}
.nav-item-active {
  padding-top: 50px;
}

.nav-item-active img {
  width: 40px;
  border-radius: 50px;
}
// .gen-layout {
//   margin-left: 70px;
//   width: calc(100vw - 70px);
// }
