.navbar-lewagon {
  grid-column: 1;
  overflow: visible;
  width: 70px;
  height: 1080px;
  color: white;
  opacity: 0.748;
  background:white;
  z-index:999;
  font-size:16px;
  color:#6c6c6c;
  padding-left: 15px;
  padding-top: 15px;
  text-transform:uppercase;
}

.navbar-lewagon img {
  width: 40px;
  left: 15px;
  right: 15px;
  top: 30px;
  bottom: 15px;
}
.nav-item-active {
  padding-top: 50px;
}

.nav-item-active img {
  width: 40px;
  border-radius: 50px;
}
