.home_picture img {
  background-image: url(https://res.cloudinary.com/dnizmljvi/image/upload/v1580904941/photo-1544927028-6ea64c7c2854_lruvbw.jpg);
  background-color: green;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  padding: 50px 0;
}

// .home_picture h1 {
//   color: white;
//   text-align: right;
// }

// .home_picture p {
//   color: white;
//   opacity: .7;
//   font-size: 20px;
//   text-align: right;
// }
