.square-cover {
  background-image: center;
  text-align:center;
  color: white;
  size: 1920px 500px;
}

.square-cover p {
  height: 500px;
  width: 1920px;
  background-image: center;
  text-align:center;
  color: white;
}

.square-cover h1 {
  height: 500px;
  width: 1920px;
  background-image: center;
  text-align:center;
  color: white;
}

.square-cover img {
  size: 1920px 500px;
}
