.square-cover {
  background-image: center;
  text-align:center;
  color: white;
  size: 1920px 500px;
}

.square-cover-m {
  justify-content: center;
  height: 250px;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.square-cover p {
  height: 500px;
  width: 1920px;
  background-image: center;
  text-align:center;
  color: white;
}

.square-cover h1 {
  height: 500px;
  width: 1920px;
  background-image: center;
  text-align:center;
  color: white;
}

.square-cover img {
  size: 1920px 500px;
}
