.title-home h1{
  font-family: "Avenir";
  font-weight: bold;
  font-size: 120px;
  color: #f6f6f6;
  text-align: center;
  vertical-align: middle;
  padding-top: 350px;
}

.title-home p{
  font-family: "Avenir";
  font-weight: bold;
  font-size: 40px;
  color: #f6f6f6;
  text-align: center;
  vertical-align: middle;
}
