.title-form {
  font-family: "Avenir";
  font-size: 17px;
  color: white;
  text-align: left;
}

.title-form p{
  font-family: "Avenir";
  font-size: 10px;
  color: white;
  text-align: left;
}

.title-form button{
  font-size: 10px;
}

.category-selected {
  background-color: black;
  opacity: 0.50;
}
