.title-home h1{
  font-family: "Avenir";
  font-size: 25px;
  color: #f6f6f6;
  text-align: center;
}

.title-home p{
  font-family: "Avenir";
  font-weight: bold;
  font-size: 40px;
  color: #f6f6f6;
  text-align: center;
}

.title-home div {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
